.footer {
  background-color: currentcolor; // light gray like minima
  padding: 1rem 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.footerContent {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footerText {
  font-size: 0.9rem;
  color: darkgrey;
  margin: 0;
}